@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {

}

body {

}

.wrapper {
  max-width: 1110px;
  padding: 0 55px;
}

header {
  background-color: rgba(0, 119, 101, 1);
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

.nav li {
  padding: 0 0.5em;
  border-right: 2px solid white;
}

.nav li:last-child {
  padding-right: 0;
  border-right: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  font: 500 1.5em "Roboto", sans-serif;
}

.banner1 {
  background: url("../imgs/banner1.png");
  background-size: cover;
  display: flex;
}

h1 {
  font: 500 4.5em "Roboto", sans-serif;
  color: white;
  margin: 10rem auto;
  padding: 0 55px;
  text-align: center;
}

.grey-container {
  background: #eeeeee;
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  margin: 3em auto 4.75em;
}

h2 {
  font: 500 4em "Roboto", sans-serif;
  color: rgba(0, 119, 101, 1);
  margin: 0 auto;
  text-align: center;
}
  
.p-text {
  font: 2em "Roboto", sans-serif;
  margin: 0.5em 0;
  flex: 1;
}

.banner2 {
  background: url("../imgs/banner2.png");
  background-size: cover;
  display: flex;
}

.banner-text-container {
  width: 893px;
  display: flex;
  margin: 8rem auto; 
  padding: 0 55px;
  text-align: center;
}

.banner-text {
  font: italic 500 3em "Roboto", sans-serif;
  color: white;
  margin: 0;
}

.white-container, .white-container div {
  display: flex;
}

.logo2 {
  margin-right: 3em;
}

.team {
  margin: 2em -15px 1.125em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.employee-item {
  min-width: 350px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.employee-photo {
  max-width: 168px;
  max-height: 168px;
  margin: auto;
}

.employee-name {
  font: bold 1.5em "Roboto", sans-serif;
  color: rgba(0, 119, 101, 1);
  margin: 0.75em auto 0;
}

.profession {
  font: italic 1.125em "Roboto", sans-serif;
  margin: 0 auto;
}

footer {
  background: #333333;
  display: flex;
}

.footer-text {
  color: white;
  font: 1.125em "Roboto", sans-serif;
  text-align: center;
  max-width: 540px;
  margin: 52px auto 62px;
  padding: 0 55px;
}
